[Unit]
Description=Bluetooth monitor service
After=multi-user.target

[Service]
Type=simple
Environment=GPIOZERO_PIN_FACTORY=lgpio
Environment=GPIO_LED_PIN={GPIO_LED_PIN}
Environment=GPIO_BUTTON_PIN={GPIO_BUTTON_PIN}
Environment=DEVICE_MAC_ADDRESS={DEVICE_MAC_ADDRESS}
ExecStart=/usr/bin/python3 {SERVICE_DIR}/bluetooth_monitor.py
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
