server {
    listen 80;
    server_name {TAILSCALE_HOST};

    client_max_body_size 100M;

    location /konverter/ {
        proxy_pass http://localhost:{PORT}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}